-r requirements.txt

black==18.9b0
pyquery==1.4.0 
requests==2.22.0

appdirs==1.4.3
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cssselect==1.0.3
idna==2.8
lxml==4.3.4
toml==0.10.0
urllib3==1.25.3
